<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('NPC')" data-ng-class="{active: currency.symbol == 'NPC'}">NPC</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('mNPC')" data-ng-class="{active: currency.symbol == 'mNPC'}">mNPC</a>
  </li> 
  <li>
  <a data-ng-click="setCurrency('uNPC')" data-ng-class="{active: currency.symbol == 'uNPC'}">uNPC</a>
  </li>
</ul>

